.container {
  width: 90%;
  max-width: 400px;
  height: 90vh;
  margin: 4vh auto;
  background-color: rgba(47, 48, 52, 0.54);
  border: 1px solid #333;
  color: white;
  text-transform: uppercase;
}
.header {
  background-color: rgba(47, 48, 52, 0.24);
  display: block;
  margin: 0 auto;
  padding: 1%;
  width: 80%;
  border: none;
}
h1 {
  text-align: center;
  font-size: 150%;
}
.bill {
  margin-top: 10%;
}
.incrementor {
  background-color: rgba(226, 218, 218, 0.24);
  width: 60%;
  text-align: center;
}
#service {
  margin-top: 10%;
  text-align: center;
}
h2 {
  font-size: 120%
}
h3 {
  font-size: 110%;
  font-weight: bold;
}
.experience {
  text-transform: none;
  font-size: 85%;
}
#tip .incrementor {
  padding: 6% 3%;
}
#tip i {
  font-size: 120%
}
#tip span {
  font-size: 120%;
}

#result .row {
  padding-bottom: 2%;
}
#tip-per-person {
  font-size: 120%;
  font-weight: bolder;
}