#container {
  font-size: 95%;
  width: 90%;
  max-width: 400px;
  height: auto;
  max-height: 96vh;
  margin: 3vh auto;
  padding-bottom: 0;
  background-color: rgba(47, 48, 52, 0.24);
  border: 5px solid rgba(152, 146, 146, 0.11);
    /*#333;*/
  color: white;
}
#header {
  background-color: rgba(0, 0, 0, 0.65);
  height: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 150%;
}
#main {
  background-color: #34495e;
  /*background-color: rgba(47, 48, 52, 0.54);*/
}
.bill {
  padding-top: 4%;
}
.incrementor {
  background-color: rgba(226, 218, 218, 0.24);
  width: 60%;
  text-align: center;
}
#service {
  margin-top: 10%;
  text-align: center;
}
img {
  height: 120px;
  overflow: hidden;
}
h3 {
  font-size: 110%;
  font-weight: bold;
}
.experience {
  text-transform: none;
}
#tip .incrementor {
  margin-top: 0;
  padding: 6% 3%;
  width: 70%;
}
#tip i {
  font-size: 120%
}
#tip span {
  font-size: 120%;
}

#result .row {
  padding-bottom: 3%;
}
.num {
  font-size: 110%;
  text-align: right;
}
#tip-per-person {
  margin: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgba(67, 171, 203, 0.38);
  font-weight: bolder;
}
#tip-per-person .num {
  font-size: 200%;
}
.tip-per-person-text {
  font-size: 150%;
}
footer {
  text-align: center;
  font-size: 80%;
}
